/* navbar:hover {
    @include invisible(visible);
} */

.navbar-custom {
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.navbar:hover {
    background-color: #1762a7;
}

.navbar-textcol {
    color: #ffffff !important;
}

.logo {
    height: 3em;
    width: 3.75em;
    padding-left: 1em;
}

.logo a {
    width: inherit;
    height: inherit;
}

.logo a img {
    max-width: 100%;
    max-height: 100%;
}

.navlink-pos {
    margin-right: 5em !important; 
}

.social-icons {
    height: 3em;
    width: 9em;
}
.social-icons ul {
    width: inherit;
    height: inherit;
}

.social-icons ul li {
    width: 32px;
    height: 32px;
}

.social-icons ul li a {
    width: 32px;
    height: 32px;
}

#github {
    max-width: 32px;
    max-height: 32px;
}

#linkedin {
    max-width: 38px;
    max-height: 32px;
}

body {
    background-color: #2f303a;
}

main {
    color: #ffffff;
}

.profile-pic {
    width: 24em;
    height: 24em;
    border: 2px solid #1762a7;
}

.row1 .p1 {
    font-size: 1.5em;
    color: #c4c4c4;
}
.row1 .p2 {
    font-size: 3.375em;
}
.row2 p {
    font-size: 1.125em;
    color: #c4c4c4;
}
/* .row4 {

} */

.button-custom {
    width: 120px !important;
}

.vertical-center {
    /* margin: 0; */
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }