/* navbar:hover {
    @include invisible(visible);
} */

.navbar-custom {
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
}

.navbar:hover {
    background-color: #1762a7;
}

.navbar-textcol {
    color: #ffffff !important;
}

.logo {
    height: 3em;
    width: 3.75em;
    padding-left: 1em;
}

.logo a {
    width: inherit;
    height: inherit;
}

.logo a img {
    max-width: 100%;
    max-height: 100%;
}

.navlink-pos {
    margin-right: 5em !important; 
}

.social-icons {
    height: 3em;
    width: 9em;
}
.social-icons ul {
    width: inherit;
    height: inherit;
}

.social-icons ul li {
    width: 32px;
    height: 32px;
}

.social-icons ul li a {
    width: 32px;
    height: 32px;
}

#github {
    max-width: 32px;
    max-height: 32px;
}

#linkedin {
    max-width: 38px;
    max-height: 32px;
}

body {
    background-color: #2f303a;
}

main {
    color: #ffffff;
}